@tailwind base;

.search-bar-icon {
    top: 12px;
    left: 8px;
}


.gradient-circular {
    border-image: conic-gradient(red, #ffc029, #ff4130, #ff2ac9, blue, magenta, red) 1;
}


@tailwind components;

@tailwind utilities;